<include href="app/views/templates/header.html"></include>
<include href="app/views/templates/navbar.html"></include>
<div class="container-fluid">
    <div class="row">
    <h1>Welcome to AdviseIT</h1>
    </div>
    <div class ="row justify-content-center">
        <div class="col-4">
            <div class="m-3"><img src="img/student.svg" width="140"></div>
            <a class="btn btn-primary btn-lg" href="{{@BASE}}/student">I'm a student</a>
        </div>
        <div class="col-2">
            <div class="m-3"><img src="img/advisor.svg" width="100"></div>
            <a class="btn btn-primary btn-lg" href="{{@BASE}}/advisor">I'm an advisor</a>
        </div>
    </div>
</div>
<include href="app/views/templates/footer.html"></include>